annotated-types==0.6.0
anyio==3.7.1
bleak==0.21.1
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.5
colorama==0.4.6
distro==1.8.0
enum-compat==0.0.3
future==0.18.3
git-generator @ file:///Users/addisongoolsbee/Documents/coding/git-generator/dist/git_generator-1.0.0-py3-none-any.whl#sha256=997d9e716fc4279002b45f2a7fce3efddbfd8995aea7b23e41edca2222f11929
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
iso8601==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
openai==1.2.3
pexpect==4.8.0
ptyprocess==0.7.0
pydantic==2.4.2
pydantic_core==2.10.1
pygame==2.5.2
Pygments==2.15.1
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
pyserial==3.5
python-dotenv==1.0.0
pywatchman==1.4.1
PyYAML==6.0.1
requests==2.31.0
rich==13.4.2
serial==0.0.97
shellingham==1.5.0.post1
six==1.16.0
sniffio==1.3.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.7.1
urllib3==2.0.7
